header{
	background: #002269;
	color: #ffffff;
	height: 20%;
}
body{
	background: url(../images/background.jpg), #000; 
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#logo{
	width: 40%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#avatar{
	width: 70px;
	padding-top: 5%;
}
#passid a{
	text-decoration: none;
	color: white;
	margin-left: 10px;
}
#passid a:hover{
	font-size: 15px;
}
form,
input,
button {
    margin: 10px;
}
#login {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    padding-bottom: 5%;
    border-radius: 10px;
}
.pad{
	padding-bottom: 10%;
}
.luis{
	color: #ccc;
}