body{
	background: url(../images/background.jpg), #000; 
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
nav{
	background: #002269;
	color: #ffffff;
	height: 20%;
}


a:hover{
	text-decoration: none;
}
#index{
	background: #F3F6FF;
}
#logo{
	width: 175px;
	height: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#avatar{
	width: 70px;
	height: 70px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#passid a{
	text-decoration: none;
	color: white;
	margin-left: 10px;
}
#passid a:hover{
	font-size: 15px;
}
form,
input,
button {
    margin: 10px;
}
#login {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    padding-bottom: 5%;
    border-radius: 10px;
}
.pad{
	padding-bottom: 10%;
}
.ver{
	padding-top: 500px;
	padding-bottom: 500px;
}
.img-op{
	margin: 50px;
	width: 150px;
}
#op1{
	background-color: #2871A1;
	color:white;
	padding-bottom: 5px;
}
#op2{
	background-color: #21AB34;
	color:white;
	padding-bottom: 5px;
}
#op3{
	background-color: #DAC530;
	color:white;
	padding-bottom: 5px;
}
#op4{
	background-color: #E03D24;
	color:white;
	padding-bottom: 5px;
}
#op5{
	background-color: #0EA0FF;
	color:white;
	padding-bottom: 5px;
}
#op1:hover,#op2:hover, #op3:hover, #op4:hover,  #op5:hover {
	background-color: #252525;
	color:white;
	padding-bottom: 5px;
}

.intro {
    padding-top: 90px;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/sansalvadorback.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    display: table;
    width: 100%;
}
#intros {
    padding-top: 90px;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/sansalvadorbacks.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    display: table;
    width: 100%;
}



.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}


@media(min-width:767px) {
    .intro {
        height: 100%;
        /*padding: 0;*/
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}
.main-heading{
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 5%;
    text-shadow: 2px 2px #343434;
}
p.sub-heading{
    font-size: 23px;
    line-height: 1.1;
    text-shadow: 2px 2px #343434;
}
p{
  margin: 0px 0px 16px;
}
.titulo{
	padding: 2% 0%;
}
.cont{
	background: #373737;
	padding: 20px;
}

.cont > h3 > small{
		color: white;
}
.LV_validation_message{
	display: block;
}
.LV_invalid{
	color: #CC0000;
}
.LV_valid{
	color: #00CC00;
}
.blanco > p{
	color: #fff;
}
.rojo > p {
	color: #F70000;
}
.integrantes{
	width: 40%;
}
footer{
	background: #2f2f2f;
	color: white;
}
.socialn{
	width:15%;
	padding: 1%;
}
#plac{
	background: #2f2f2f;
	color: white;
	padding: 1%;
}
#imgreg{
	height: 150px;
}
.serviciosdiv{
	padding: 5%;
	background: #3D95FF;
	color: white;
	border: 2px solid #252525;
}
.serviciosdiv:hover{
	padding: 5%;
	background: #252525;
	color: white;
}
#ser{
	padding: 2%;
}