body{
	background: url(../images/background.jpg), #000; 
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
nav{
	background: #002269;
	color: #ffffff;
	height: 20%;
}


a:hover{
	text-decoration: none;
}
#index{
	background: #F3F6FF;
}
#logo{
	width: 40%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#avatar{
	width: 70px;
	padding-top: 5%;
}
#passid a{
	text-decoration: none;
	color: white;
	margin-left: 10px;
}
#passid a:hover{
	font-size: 15px;
}
form,
input,
button {
    margin: 10px;
}
#login {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15%;
    padding-bottom: 5%;
    border-radius: 10px;
}
.pad{
	padding-bottom: 10%;
}
.blanco p{
	color: #fff;
}
.rojo p {
	color: #F70000;
}
.ver{
	padding-top: 500px;
	padding-bottom: 500px;
}
.img-op{
	margin: 50px;
	width: 150px;
}
#op1{
	background-color: #2871A1;
	color:white;
	padding-bottom: 5px;
}
#op2{
	background-color: #21AB34;
	color:white;
	padding-bottom: 5px;
}
#op3{
	background-color: #DAC530;
	color:white;
	padding-bottom: 5px;
}
#op1:hover{
	background-color: #252525;
	color:white;
	padding-bottom: 5px;
}
#op2:hover{
	background-color: #252525;
	color:white;
	padding-bottom: 5px;
}
#op3:hover{
	background-color: #252525;
	color:white;
	padding-bottom: 5px;
}
.intro {
    padding-top: 90px;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/sansalvadorback.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    display: table;
    width: 100%;
}



.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}


@media(min-width:767px) {
    .intro {
        height: 100%;
        /*padding: 0;*/
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}
.main-heading{
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 5%;
    text-shadow: 2px 2px #343434;
}
p.sub-heading{
    font-size: 23px;
    line-height: 1.1;
    text-shadow: 2px 2px #343434;
}
p{
  margin: 0px 0px 16px;
}
.titulo{
	padding: 2% 0%;
}
.cont{
	background: #373737;
	padding: 20px;
}

.cont > h3 > small{
		color: white;
}